data

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Compiling Files
Makefile
*.swp
*.o
*.so
*.a
*.swo

#Folders
build
doc

#Qt Files
moc_*
*.Debug
*.Release
*.user
*.stash
*.autosave

#Mac OS Files
.RData
.Rhistory
.DS_Store


#Latex Files
*.blg
*.log
*.toc
*.bbl
*.aux
*.bak